@{
  Layout = "_Layout";
}



<h1>Hair Salon Database</h1>
<ul>
  @foreach (var client in Model)
  {
    <li><a href='/client/@client.GetId()'>@client.GetDescription()</a></li>
  }
</ul>
<a href='/stylist/new'>Add new client</a>
