@{
  Layout = "_Layout";
}
<h1>Add Client</h1>
<br></br>
<form action='/index/@Model.Id/clients/new' method="post">
  <div class="form-group">
    <label class= "client-name" for="client-name">Name:</label>
       <input type="text" name="client-name" id="client-name">
  </div>

  <div class="form-group">
    <button class="btn" type="submit">Submit</button>
  </div>
