@{
  Layout = "_Layout";
}
<h1>Add Stylist</h1>
<br></br>
<form action="/index/new" method="post">
  <div class="form-group">
    <label class= "stylist-name" for="stylist-name">Name:</label>
       <input type="text" name="stylist-name" id="stylist-name">
  </div>

  <div class="form-group">
    <button class="btn" type="submit">Submit</button>
  </div>
