@{
  Layout = "_Layout";
}


<h3>Here are all the clients in this stylist:</h3>
<ol>
  @foreach (var client in @Model["clients"])
  {
    <li><a href='/stylist/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetDescription()</a></li>
  }
</ol>
<p><a href='/stylist/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>
